[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/toothless/Desktop/2023-08-02_19-53.png]
row=5
col=0

[/home/toothless/Desktop/Toothless]
row=0
col=1

[222B9D5350707446]
row=0
col=0

[849E2A4A9E2A34D8]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/toothless]
row=4
col=0

